@use '../variable/variable' as *;

.card {
  border-radius: 14px;
  border: 1px solid rgba($color: $dark, $alpha: 0.08);
  box-shadow: 0px 2px 4px rgba($color: $dark, $alpha: 0.05);
  .card-header {
    padding: 12px 16px;
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.08);
    .card-title {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: $dark;
      text-transform: uppercase;
    }
    .btn {
      padding: 4px 12px !important;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .card-body {
    padding: 16px;
    .card-title {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .card-text {
      font-size: 14px;
      color: rgba($color: $dark, $alpha: 0.7);
      font-weight: 600;
      strong {
        font-size: 22px;
        font-weight: 800;
        color: $dark;
      }
    }
    .target {
      font-size: 12px;
      color: rgba($color: $dark, $alpha: 0.5);
      font-weight: 400;
      span {
        display: inline-block;
        color: rgba($color: $dark, $alpha: 0.9);
      }
    }
  }
}

.bg-booklet {
  position: relative;
  .booklet-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 90px;
    height: 90px;
  }
  .card-body {
    .card-text {
      font-size: 12px;
      font-weight: 400;
      span {
        font-weight: 500;
        display: inline-block;
        color: rgba($color: $white, $alpha: 0.9);
      }
    }
  }
}
