.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
  gap: 10px;
  padding: 8px;
  width: 100%;
}

.header {
  grid-area: header;
  grid-template-columns: auto 1fr auto;
}
.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  background: white;
  border-radius: 20px;
  padding: 24px;
  width: 100%;
}
