.top-category-view {
  .categories-slider {
    max-width: 100%;
    .item {
      padding: 20px 0;
    }
    .owl-nav {
      position: absolute;
      top: 42%;
      transform: translateY(-42%);
      width: 100%;
      height: 30px;
      .owl-prev,
      .owl-next {
        position: absolute;
        background: rgba(0, 0, 0, 0.2) !important;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 18px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        &:hover {
          background: rgba(0, 0, 0, 0.7) !important;
        }
      }
      .owl-prev {
        left: -10px;
      }
      .owl-next {
        right: -10px;
      }
    }
  }
}
