:root {
  --progress-bar-width: 70px;
  --progress-bar-height: 70px;
  --font-size: 1rem;
}

// body {
//   height: 100vh;
//   background-color: #100c08;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   place-items: center;
//   gap: 2rem;
// }
.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 16px);
  height: calc(var(--progress-bar-height) - 16px);
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-size: var(--font-size);
  color: rgb(0, 0, 0, 0.8);
}

@media screen and (max-width: 800px) {
  :root {
    --progress-bar-width: 60px;
    --progress-bar-height: 60px;
    --font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --progress-bar-width: 50px;
    --progress-bar-height: 50px;
    --font-size: 0.9rem;
  }
}
