p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}
span {
  margin: 0;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
}
